body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    width: 900px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.full {
    grid-column: 1 / 3;
}

.produto-box {
    margin-top: 25px;
    padding: 15px;
    border: 2px solid #faa42a;
    border-radius: 6px;
}

.btn-add, .btn-remove {
    background-color: #faa42a;
    border: none;
    padding: 8px 14px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.btn-remove {
    background-color: red;
}

.btn-submit {
    width: 100%;
    background-color: #faa42a;
    padding: 14px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}